.wrapper {
	display: flex;
	flex-flow: row wrap;
}

/* We tell all items to be 100% width */
.header, .main-content, .sidebar, .footer {
	flex: 1 100%;	
}

.header {
	background: lightgrey;
}

.sidebar {
	background: lightgreen;
}

.footer {
	background: lightblue;
}

.main-content {
	// background: pink;	
}

/* Large screens */
@media all and (min-width: 768px) {
	.main-content { 
		flex: 10 0px; 
	}
	.sidebar { flex: 2 auto; }

	.sidebar-left { order: 1; }
	.main-content	{ order: 2; }
	.footer  { order: 3; }
}

/*=============================*/

.container {
	width: 		1000px;
	max-width: 	1000px;
	margin: 	0 auto;
}